<ion-header>
  <ion-navbar>
      <ion-title>Viewed Users
          <span float-right>
              <ion-icon class="icon" (click)="dismiss()">
                  <img src="assets/imgs/ic_cross.png" width="100%;">
              </ion-icon>
          </span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-light">
  <div class="your-cart">
      <ion-card>
          <ion-card-content>
              <ion-row>
                <ion-list>
                  <ion-item *ngFor="let data of Data_View">
                    <ion-avatar item-start>
                      <img src="assets/imgs/boy.png">
                    </ion-avatar>
                    <h2>{{data.name}}, {{data.position}}</h2>
                  </ion-item>
                  <div *ngIf="!Data_View">
                    <h3 class="text-b">Not Found Users</h3>
                    </div>
                </ion-list>
              </ion-row>
          </ion-card-content>
      </ion-card>


      
  </div>
</ion-content>