<ion-header class="bg-thime">
  <ion-navbar>
      <button ion-button menuToggle>
    <ion-icon class="menu-icon"><img src="assets/imgs/menufix.png"></ion-icon>
  </button>
      <ion-title><b>Menu User</b>
         
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col col-12>
          <button ion-button color="dark" (click)="pageInput()">Tambah User</button>
          <br>
          <table>
            <thead>
            <tr>
              <th>Nip</th>
              <th>Jabatan</th>
              <th colspan="2" style="text-align: center">Aksi</th>
            </tr>
            </thead>
            <tbody *ngIf="Data_Project">
            <tr *ngFor="let data of Data_Project">
              <td valign="top">{{data.nip}}</td>
              <td valign="top">{{data.position}}</td>   
              <td valign="top">
                <a (click)="showConfirm(data.id)"><ion-icon name="trash"></ion-icon></a>
                
              </td>
              <td valign="top">
                  <a  (click)="pageEdit(data.id)"><ion-icon name="create"></ion-icon></a>
                  
                </td>     
            </tr>
            </tbody>
          </table>         
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
